[core]
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  side-by-side = true
  navigate = true
  syntax-theme = Nord
  # delta --list-syntax-themes
[user]
  name = {{ git_user }}
  email = {{ git_mail }}
[pager]
  log = true
[init]
  defaultBranch = main