[Unit]
Description=Jellyfin
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
User=root
ExecStart=/usr/bin/podman-compose -f /home/podman-usr/jellyfin/docker-compose.yml up -d --remove-orphans
ExecStop=/usr/bin/podman-compose -f /home/podman-usr/jellyfin/docker-compose.yml down

[Install]
WantedBy=multi-user.target
