[Unit]
Description=Pipewire script to create virtual sink
Requires=pipewire.service
After=pipewire.service

[Service]
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
RestrictNamespaces=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
Type=simple
ExecStart=pw-loopback -m '[ FL FR ]' --capture-props='media.class=Audio/Sink node.name=arturia_stereo node.description="Arturia Stereo"' --playback-props='node.target="alsa_output.usb-ARTURIA_AudioFuse-00.analog-surround-71" node.name=arturia_stereo audio.channels=2 audio.position=[ FL FR ] node.description="Arturia Stereo"'
Restart=on-failure

[Install]
WantedBy=default.target